* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary)
}

body {
    height: 100%;
    background-color: var(--cor-background);
    color: var(--cor-principal);
}

:root {
    --font-family-primary: Raleway, sans-serif;
    --cor-background: #f5f5f5;
    --cor-principal: #464646;
    --cor-secundaria: #2A7AE4;
    --cor-secundaria-hover: #195099;
    --cor-terciaria: #EAF2FD;
    --cor-branco: #fff;
    --tamanho-padrao: 80%;
    --altura-padrao-containers: 500px;
    /* TABLET */
    --altura-padrao-tablet: 300px;
    /* CELULAR */
    --altura-padrao-celular: 200px;
}

h2 {
    font-size: 32px;
}

i {
   font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--cor-principal);
}

a:hover {
    color: var(--cor-secundaria);
    border-bottom: solid 1px 2A7AE4;
    border-radius: 4px;
    padding-bottom: 3px;
}

/* HEADER*/

header {
    max-width: var(--tamanho-padrao);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 32px 0;
}

.menu .ul_celular {
    display: none;
}

.logo h2 {
    display: flex;
    gap: 8px;
    align-items: center;
}

.nome {
    font-size: 16px;
    font-weight: 600;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
}

/* SOBRE MIM */

.sobre-mim .hero {
    max-width: var(--tamanho-padrao);
    min-height: var(--altura-padrao-containers);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre-mim .hero .texto .txt {
    font-size: 52px;
    margin-bottom: 15px;
}

.sobre-mim .hero .texto .txt span {
    color: var(--cor-secundaria);
}

.sobre-mim .hero .texto p {
    font-size: 22px;
}

.sobre-mim .hero .imagem img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    overflow: auto;
}

.sobre-mim .hero .redes {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    margin-top: 15px;
}
.sobre-mim .hero .redes li {
    align-items: flex-end;
}

.sobre-mim .sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor-terciaria);
    height: 383px;
    width: auto;
    
}

.sobre-mim .sobre-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    max-width: var(--tamanho-padrao);
    height: var(--altura-padrao-containers);
    margin: 0 auto;
    gap: 15px;
}

/* HOBBIES E SKILLS*/

.hobbies-skills {
    width: var(--tamanho-padrao) auto;
    height: var(--altura-padrao-containers) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
    gap: 20px;
}

.hobbies-skills .skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: var(--tamanho-padrao);
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.hobbies-skills .skills .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 146px;
    height: 144px;
    background-color: var(--cor-branco);
    border-radius: 10px;
    padding: 15px;
    
}

.hobbies-skills .skills .item i {
    color: var(--cor-secundaria);
    margin-top: 70%;
    font-size: 25px;
}

.hobbies-skills .skills .item h4 {
    color: var(--cor-secundaria);
}

/* FORMAÇÃO ACADEMICA*/


.formacao-curso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-terciaria);
    gap: 20px;
    min-height: var(--altura-padrao-containers);
}

.formacao-curso .formacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: var(--tamanho-padrao);
}

.container_formacao {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formacao-curso .formacao .item {
    display: flex;
    width: 300px;
    height: 270px;
    background-color: var(--cor-branco);
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;

}

.formacao-curso .formacao .item img {
    width: 200px;
    height: 200px;
}
.reverso_celular {
    display: none;
}


/* EXPERIENCIA */

.experiencia {
    max-width: var(--tamanho-padrao);
    min-height: var(--altura-padrao-containers);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    padding: 40px 0 40px 0;
}

.experiencia h2{
    text-align: center;
    margin-bottom: 20px;
}

.experiencia .projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.experiencia .projetos .img_projeto a img {
    width: 700px;
    border-radius: 10px;
    overflow: hidden;
}

.experiencia .projetos .link_projetos {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.container_btn {
    display: flex;
    gap: 15px;
    margin: 15px 0 15px 0;
}
.btn {
    border-radius: 8px;
    background-color: var(--cor-secundaria);
    color: var(--cor-background);
    padding: 8px;
}

.btn:hover {
    background-color: var(--cor-secundaria-hover); 
}

/* CONTATO */

.contato {
    display: flex;
    background-color: var(--cor-terciaria);
    min-height: var(--altura-padrao-containers);
    align-items: center;
    justify-content: center;
}

.contato .container_contato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--tamanho-padrao);
    padding: 20px;
}

.contato .container_contato .box_contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contato .container_contato .nome {
    background-color: var(--cor-branco);
    padding: 5px;
    border-radius: 10px;
}

#item {
    color: var(--cor-principal);
    font-size: .8rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

textarea {
    margin-top: 20px;
}

#btn_enviar {
    border: none;
    margin-top: 10px;
    width: 80px;
    height: 30px;
}




/* FOOTER */
footer {
   display: flex;
   height: 50px;
   background-color: var(--cor-branco);
   align-items: center;
   justify-content: center;
}
footer p {
    font-size: .7rem;
    text-align: center;
}


/* BOTÃO FLUTUANTE */

.btn_top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(70, 70, 70, .3);
    text-decoration: none;
    border-radius: 50%;
    color: var(--cor-background);
}
.btn_top::after {
    transition: margin-top 250ms;
}
.btn_top:hover {
    border-radius: 50%;
}

/* MEDIA QUERY */

@media (max-width: 768px) {

    /* HEADER */
    header {
        padding: 15px 0;
    }
    
    .logo h2 {
        font-size: .6rem;
        gap: 8px;
    }

    .menu ul {
        gap: 15px;
        font-size: .6rem;
    }
   
    /* HERO */

    .sobre-mim .hero {
       
        min-height: var(--altura-padrao-tablet);
    }

    .sobre-mim .sobre-txt {
        height: var(--altura-padrao-tablet);
    }
    
    .sobre-mim .hero .texto .txt {
        font-size: 35px;
        margin-bottom: 15px;
    }
    
    .sobre-mim .hero .texto p {
        font-size: 15px;
    }
    
    .sobre-mim .hero .imagem img{
        width: 200px;
        height: 200px;
    }

    /* FORMAÇÃO */
    .formacao-curso {
        min-height: var(--altura-padrao-tablet);
    }
    .formacao-curso h2 {
        margin: 20px;
       
    }
    .container_formacao {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .formacao-curso .formacao .item {
        width: 180px;
        height: 120px; 
    }
    
    .formacao-curso .formacao .item img {
        width: 100px;
        height: 100px;
    }
    .formacao-curso .formacao .container_formacao h3 {
        font-size: .8rem;
    }

    /* EXPERIENCIA */

    .experiencia .projetos .img_projeto a img {
        width: 400px;
    }

    .container_btn .btn {
        font-size: .8rem;
    }

    /* CONTATO */
    .luttie {
        display: none;
    }
    #item {
        font-size: .7rem;
    }
    .box_contato {
        margin: 0 auto;
    }
    
  }

@media (max-width: 490px) {

   .sobre-mim .hero {
    justify-content: center;
   }
   .logo h2 {
    font-size: .5rem;
   }
   .menu ul {
    display: none;
   }
   .menu .ul_celular {
    display: block;
   }
   .sobre-mim {
    min-height: var(--altura-padrao-celular);
   }
   .sobre-mim .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
   }
   .sobre-mim .hero .texto .txt{
    font-size: 1rem;
   }
   .sobre-mim .hero .texto p{
    font-size: .8rem;
   }
   .sobre-mim .hero .texto .redes{
    font-size: .8rem;
    gap: 5px;
   }
   .sobre-mim .hero .imagem img{
    width: 100px;
    height: 100px;
   }
   .sobre {
    min-height: var(--altura-padrao-celular);
   }

   .experiencia .projetos .img_projeto a img {
    width: 300px;
    }
    .container_btn .btn {
        font-size: .8rem;
    }
    .projetos {
        display: flex;
        flex-direction: column;
    }
    .reverso_descktop {
        display: none;
    }
    .reverso_celular {
        display: block;
    }
    
}