* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

body {
    height: 100%;
    background-color: #f5f5f5;
}

h2 {
    font-size: 32px;
}

i {
   font-size: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #2A7AE4;
    border-bottom: solid 1px 2A7AE4;
    border-radius: 4px;
    padding-bottom: 3px;
}

/* HEADER*/

header {
    width: 1136px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}

.logo h2 {
    display: flex;
    gap: 8px;
    align-items: center;
}

.nome {
    font-size: 16px;
    font-weight: 600;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
}

/* SOBRE MIM */

.sobre-mim .hero {
    width: 1136px;
    margin: 0 auto;
    display: flex;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}

.sobre-mim .hero .texto .txt {
    font-size: 52px;
    margin-bottom: 15px;
}

.sobre-mim .hero .texto .txt span {
    color: #2A7AE4;
}

.sobre-mim .hero .texto p {
    font-size: 22px;
}

.sobre-mim .hero .imagem img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    overflow: auto;
}

.sobre-mim .hero .redes {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: 15px;
}
.sobre-mim .hero .redes li {
    align-items: flex-end;
}

.sobre-mim .sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EAF2FD;
    height: 383px;
    width: auto;
    
}

.sobre-mim .sobre-txt {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 1136px;
    margin: 0 auto;
    gap: 15px;
}

/* HOBBIES E SKILLS*/

.hobbies-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
    height: 600px;
}

.hobbies-skills .skills {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 15px 0 15px 0;
}

.hobbies-skills .skills .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 176px;
    height: 174px;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    
}

.hobbies-skills .skills .item i {
    color: #2A7AE4;
    margin-top: 70%;
    font-size: 25px;
}

.hobbies-skills .skills .item h4 {
    color: #2A7AE4;
}

/* FORMAÇÃO ACADEMICA*/


.formacao-curso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EAF2FD;
    gap: 15px;
    height: 600px;
}

.formacao-curso .formacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    max-width: 1136px;
}

.formacao-curso .formacao .item {
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
}